---
layout: default
item-meta: true
gallery: true
---
{% assign images = site.data.photograph_metadata_images | where: "compare_id",page.objectid | reverse %}

<div class="container py-3">

    {% include item/breadcrumbs.html %}

    <div class="row justify-content-center">
        <div class="col-12">
            
            <div class="row align-items-center mb-4" id="lightgallery">
                {% for i in images %}
                <div class="col-6 gallery-img" data-src="{{ i.object_download | relative_url }}">
                    <img src="{{ i.image_small | relative_url }}" alt="item thumbnail for {{ i.title | escape }}" class="img-fluid">
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-md-7">

            <h1>{{ page.title }}</h1>
            {% assign locations = page.location | split: ";" %}
            <p>{{ page.description }}</p>
            <p>Location: 
                {% for t in locations %}
                <a class="mr-3" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a>
                {% endfor %}
            </p>
            <p>{{ page.latitude }}, {{ page.longitude }}</p>
            
        </div>
        {% for item in images %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                {% include item/repeat-metadata.html %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
    {% include item/browse-buttons.html %}
    
</div>